In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('cleaned_ashoksalesdata.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5108 entries, 0 to 5107
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dealer Code           5108 non-null   int64
 1   Dealer Name           5108 non-null   object
 2   Dealer State          5108 non-null   object
 3   Region                5108 non-null   object
 4   Status                5108 non-null   object
 5   Status Reson          5108 non-null   object
 6   Chassis no            5108 non-null   object
 7   TMInvoiceno           5108 non-null   int64
 8   TM Invoice Date       5108 non-null   object
 9   Retail invoice no     5108 non-null   object
 10  Retail invoice Date   5108 non-null   object
 11  Claim ID              5108 non-null   object
 12  G_Claim ID            5108 non-null   int64
 13  Scheme ID             5108 non-null   object
 14  Amount                5108 non-null   float64
 15  SAP Doc no.           5108 non-null   object
 16  SAP Doc Date          5108 non-null   object
 17  Scheme Type           5108 non-null   object
 18  Scheme Type-Name      5108 non-null   object
 19  Scheme Type Category  5108 non-null   object
 20  LOB                   5108 non-null   object
dtypes: float64(1), int64(3), object(17)
memory usage: 838.2+ KB

In [5]:
df.head()

,Dealer Code,Dealer Name,Dealer State,Region,Status,Status Reson,Chassis no,TMInvoiceno,TM Invoice Date,Retail invoice no,...,Claim ID,G_Claim ID,Scheme ID,Amount,SAP Doc no.,SAP Doc Date,Scheme Type,Scheme Type-Name,Scheme Type Category,LOB
0,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT558005PVJ50387,723276640,29-09-2023,IAUTGH2324001350,...,CVA24848666,0,SCHM12-13493,10000.0,728322645,04-06-2024,Chola Cash,Cash discount in lieu of Chola,Consumer,SCVPass
1,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT558005PVJ50387,723276640,29-09-2023,IAUTGH2324001350,...,CVB24880194,0,SCHM12-13480,10000.0,728322646,04-06-2024,Exchange,Exchange Discount,Consumer,SCVPass
2,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT535351PYP56736,723477439,29-12-2023,IAUTGH2324002184,...,CVD241040310,0,SCHM03-18345,20000.0,Flat,29-12-2023,Exchange,Exchange Discount,Consumer,Pickups
3,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT535351RYB04948,728111745,29-02-2024,IAUTGH2324002193,...,CVD241040342,0,SCHM03-18345,20000.0,Flat,29-02-2024,Exchange,Exchange Discount,Consumer,Pickups
4,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT556013PVP68963,728059236,31-01-2024,IAUTGH2324002052,...,CVD241040436,0,SCHM03-18341,10000.0,Flat,31-01-2024,Exchange,Exchange Discount,Consumer,SCV Cargo

In [6]:
df['TM Invoice Date'] = pd.to_datetime(df['TM Invoice Date'])
df['Retail invoice Date'] = pd.to_datetime(df['Retail invoice Date'])
df['SAP Doc Date'] = pd.to_datetime(df['SAP Doc Date'])

/tmp/ipykernel_10090/4289179053.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['TM Invoice Date'] = pd.to_datetime(df['TM Invoice Date'])
/tmp/ipykernel_10090/4289179053.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Retail invoice Date'] = pd.to_datetime(df['Retail invoice Date'])
/tmp/ipykernel_10090/4289179053.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['SAP Doc Date'] = pd.to_datetime(df['SAP Doc Date'])

In [7]:
df.head()

,Dealer Code,Dealer Name,Dealer State,Region,Status,Status Reson,Chassis no,TMInvoiceno,TM Invoice Date,Retail invoice no,...,Claim ID,G_Claim ID,Scheme ID,Amount,SAP Doc no.,SAP Doc Date,Scheme Type,Scheme Type-Name,Scheme Type Category,LOB
0,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT558005PVJ50387,723276640,2023-09-29,IAUTGH2324001350,...,CVA24848666,0,SCHM12-13493,10000.0,728322645,2024-04-06,Chola Cash,Cash discount in lieu of Chola,Consumer,SCVPass
1,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT558005PVJ50387,723276640,2023-09-29,IAUTGH2324001350,...,CVB24880194,0,SCHM12-13480,10000.0,728322646,2024-04-06,Exchange,Exchange Discount,Consumer,SCVPass
2,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT535351PYP56736,723477439,2023-12-29,IAUTGH2324002184,...,CVD241040310,0,SCHM03-18345,20000.0,Flat,2023-12-29,Exchange,Exchange Discount,Consumer,Pickups
3,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT535351RYB04948,728111745,2024-02-29,IAUTGH2324002193,...,CVD241040342,0,SCHM03-18345,20000.0,Flat,2024-02-29,Exchange,Exchange Discount,Consumer,Pickups
4,1007360,ASHOK AUTO VENTURES LLP-1007360,Uttar Pradesh,North,Settled,On-Line,MAT556013PVP68963,728059236,2024-01-31,IAUTGH2324002052,...,CVD241040436,0,SCHM03-18341,10000.0,Flat,2024-01-31,Exchange,Exchange Discount,Consumer,SCV Cargo

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5108 entries, 0 to 5107
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dealer Code           5108 non-null   int64
 1   Dealer Name           5108 non-null   object
 2   Dealer State          5108 non-null   object
 3   Region                5108 non-null   object
 4   Status                5108 non-null   object
 5   Status Reson          5108 non-null   object
 6   Chassis no            5108 non-null   object
 7   TMInvoiceno           5108 non-null   int64
 8   TM Invoice Date       5108 non-null   datetime64[ns]
 9   Retail invoice no     5108 non-null   object
 10  Retail invoice Date   5108 non-null   datetime64[ns]
 11  Claim ID              5108 non-null   object
 12  G_Claim ID            5108 non-null   int64
 13  Scheme ID             5108 non-null   object
 14  Amount                5108 non-null   float64
 15  SAP Doc no.           5108 non-null   object
 16  SAP Doc Date          5108 non-null   datetime64[ns]
 17  Scheme Type           5108 non-null   object
 18  Scheme Type-Name      5108 non-null   object
 19  Scheme Type Category  5108 non-null   object
 20  LOB                   5108 non-null   object
dtypes: datetime64[ns](3), float64(1), int64(3), object(14)
memory usage: 838.2+ KB

In [10]:
df.to_csv('claim_data.csv')

In [11]:
df2 = pd.read_csv('claim_data.csv')

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5108 entries, 0 to 5107
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dealer Code           5108 non-null   int64
 1   Dealer Name           5108 non-null   object
 2   Dealer State          5108 non-null   object
 3   Region                5108 non-null   object
 4   Status                5108 non-null   object
 5   Status Reson          5108 non-null   object
 6   Chassis no            5108 non-null   object
 7   TMInvoiceno           5108 non-null   int64
 8   TM Invoice Date       5108 non-null   object
 9   Retail invoice no     5108 non-null   object
 10  Retail invoice Date   5108 non-null   object
 11  Claim ID              5108 non-null   object
 12  G_Claim ID            5108 non-null   int64
 13  Scheme ID             5108 non-null   object
 14  Amount                5108 non-null   float64
 15  SAP Doc no.           5108 non-null   object
 16  SAP Doc Date          5108 non-null   object
 17  Scheme Type           5108 non-null   object
 18  Scheme Type-Name      5108 non-null   object
 19  Scheme Type Category  5108 non-null   object
 20  LOB                   5108 non-null   object
dtypes: float64(1), int64(3), object(17)
memory usage: 838.2+ KB

In [14]:
df2['Unnamed: 0']

0          0
1          1
2          2
3          3
4          4
        ...
5103    5103
5104    5104
5105    5105
5106    5106
5107    5107
Name: Unnamed: 0, Length: 5108, dtype: int64

In [15]:
if 'Unnamed: 0' in df2.columns:
    # Drop the column if it exists
    df2 = df2.drop(columns=['Unnamed: 0'])